$color-background = #393D3F
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 10%)
$color-border = #E54B4B
$color-meta = #C6C5B9
$color-meta-code = #C6C5B9
$color-link = #E54B4B
$color-text = #FDFDFF
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #F06543
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"